{{!-- 
    NOTE: HANDLEBARS COMMENTS WON'T BE SHOWN IN BROWSER

    Receives object from route/pages.js
    {   title:'Home Page',
        pageName: 'home'
        url:req.url,
        query:req.query,
        env:'local' || 'dev' || 'prod'
    }

    Uses Handlebars {{ value }} & angular v1 {[ value ]}
    Note: {{{ unescaped handlebars }}}

--}}
<!DOCTYPE html>

<html lang="en">
    <head>
    
    <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{{title}}</title>

        <link href="/static/{{pageName}}/css/style.min.css" type="text/css" rel="stylesheet">

    </head>

    <body>

        <div class="page" ng-app="goneGamer">

            <small>This is the {{title}} Page. (default.hbs)</small>

            {{!-- "body" is handlebars default to load inner content --}}
            {{{body}}}

        </div>

        <script type="text/javascript" src="/static/{{pageName}}/js/script.min.js"></script>

    </body>
</html>
